resources:
- name: lia-alb-waf-akshit
  type: gcp-types/compute-v1:securityPolicies
  properties:
    name: lia-alb-waf-akshit
    description: Cloud Armor policy for our communities
    type: CLOUD_ARMOR
    rules:
      - description: Cross-site scripting
        match:
          expr:
            expression: "evaluatePreconfiguredExpr('xss-v33-stable')"
        action: deny(403)
        preview: true
        priority: 0

      - description: Allow request from a specifc Header
        match:
          expr:
            expression: 'request.headers["{{ properties["headername"] }}"] == R"{{ properties["headervalue"] }}"'
        action: allow
        preview: true
        priority: 100

      - description: Default rule, higher priority overrides it
        match:
          versionedExpr: "SRC_IPS_V1" 
          config:
            srcIpRanges: ["*"]  
        action: deny(403) 
        priority: 2147483647 

    advancedOptionsConfig:
        logLevel: VERBOSE      # To reduce logging, set this to NORMAL
