resources:
- name: lia-alb-waf-akshit-test
  type: gcp-types/compute-v1:securityPolicies
  properties:
    name: lia-alb-waf-akshit-test
    description: Cloud Armor policy for our communities
    type: CLOUD_ARMOR
    rules:
      - description: Cross-site scripting
        match:
          expr:
            expression: "evaluatePreconfiguredExpr('xss-v33-stable')"
        action: deny(403)
        preview: true
        priority: 0

      - description: Local file inclusion
        match:
          expr:
            expression: "evaluatePreconfiguredExpr('lfi-v33-stable')"
        action: deny(403)
        preview: true
        priority: 10
        
    advancedOptionsConfig:
        logLevel: VERBOSE      # To reduce logging, set this to NORMAL
